@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --dark : #000;
  --darkGrey : #141414; 
  --lightGrey : #A3A2A2;
  --white : #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: var(--dark);
  overflow-x: hidden;
}

/* NAVBAR  */
.toggle-button {
  display: none;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 45px;
  border-radius: 100px;
  background-color: var(--white);
  flex-direction: column;
  cursor: pointer;
}

.toggle-button .bar {
  width: 20px;
  height: 3px;
  background-color: var(--darkGrey);
  margin: 2px 0;
  transition: 0.3s;
}


nav{
  color: var(--white);
  height: 20vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding-top: 2vh;
}
nav h1 {
  font-size: 1.5rem;
}
.nav-list
{
  background-color: var(--darkGrey);
  height: 30%;
  width: 30%;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2px;
}
.active {
  color: var(--dark); 
  background-color: var(--white);
}
.nav-list a.active{
  background-color: var(--white);
  color: var(--dark);

}
.nav-list a {
  color: var(--lightGrey);
  text-decoration: none;
  padding: 10px;

  height: 90%;
  text-align: center;
  width: 20%;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* ANIMATED HEADING  */
.animated-heading , .experience-heading{
  background-color: var(--darkGrey);
  color: var(--lightGrey);
  height: 100vh;
  width: 100vw;
  margin-top: 3vh;
}
.animated-heading h1 ,.experience-heading h1{

  font-size: 90vh;
  text-transform: uppercase;
  font-weight: 800;
}

/* PAGE 1 :HERO SECTION */
.page1
{
  height: 80%;
  width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
/* PAGE2 :PROJECTS  & EXPERTISE*/
.page2{
  height: auto;
  width : 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page2-heading{
  height: 20vh;
  width: 90%;
  margin-top: 5vh;
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
  color: #fff;
}

.page2-heading div{
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.page2-heading div h3{
  font-weight: 800;
  font-size: 3rem;
}
.page2-heading div h4{
  font-weight: 300;
}

.page2-heading button{
  height: 40%;
  width: 25%;
  margin-top: 10vh;
  background-color: transparent;
  text-align: right;
  padding: 1vh;
  color: #ffffff97;
  border: 2px dashed #151514;
  border-radius: 10px;
  font-size: 1rem;

  cursor: pointer;
}
.page2-heading button:hover{
  transition: 0.5s;
  color: #fff;
}

.project-cont{
  height: auto;
  width: 90vw;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 10px;
  row-gap: 10px;
}
.project
{
  height: 450px;
  border-radius: 20px;
  color: #fff;
  margin-top: 2vh;
  
}
.project-image{
  height: 90%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-image img{
  mix-blend-mode: multiply;
}
.project-image:nth-child(1) img{
  margin-top: 1vh;
  height: 400px;
}
.project-title {
  margin-top: 2vh;
}
.project-title h1{
  font-size: 1.5rem;
  font-weight: 500;
}
.project-title h2{
  font-size: 1rem;
  font-weight: 400;
}

.project:nth-child(1) .project-image
{
  background-image: linear-gradient(to bottom right, #7A19F3 , #A952F3);  
}

.project:nth-child(2) .project-image
{
  background-image: linear-gradient(to bottom right, #38d658 , #6bd07f);  
}

.project:nth-child(3) .project-image
{
  background-image: linear-gradient(to bottom right, #32acd5 , #59abc7);  
}

.project:nth-child(4) .project-image
{
  background-image: linear-gradient(to bottom right, #e4af33 , #dab357);  
}

/* EXPERTISE SECTION  */
.page2-heading:nth-last-child(1)
{
  margin-top: 15vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page2-heading:nth-last-child(1) h3{
  font-size:  3rem;

}

.page2-heading:nth-last-child(1) .expertise-list{
  margin-top: 3vh;
  height: 80vh;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 10px;
  row-gap: 10px;

  padding: 20px;
}

.page2-heading:nth-last-child(1) .expertise-list .expertise {
  height: 100%;
  width: 100%;
}

.page2-heading:nth-last-child(1) .expertise-list .expertise h3{
  font-size: 1.5rem;
}
.page2-heading:nth-last-child(1) .expertise-list .expertise p{
  font-size: 1rem;
  width: 80%;
}


/* PAGE3 EXPERIENCE & SKILLS  */
.page3{
  height: auto;
  width: 100%;
  position: relative;
}

.experience-section
{
  height: 80vh;
}


/* SKILLS MARQUEE  */

.page4{
  position: relative;
  height: auto;
  width: auto;
}
.marquee-cont{
  height: auto;
  width: auto;  
}
.marquee{
  background-color: var(--darkGrey);
  color: var(--white);
  position: absolute;
  width: 150vw;
  margin-left: -10vw;
  transform: rotate(-8deg);
}

.marquee:nth-child(2){
  transform: rotate(6deg);
  background-color: var(--white);
  color: var(--darkGrey);
}
.marquee span {

  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  text-transform: uppercase;

  font-size: 11rem;
  display: inline-block;
  animation: marquee 10s linear infinite;
}
.marquee:nth-child(2) span {
  animation: marqueeRev 10s linear infinite;
}

@keyframes marquee {
  100% {
      transform: translateX(-100vw);
  }

  100% {
      transform: translateX(-100vw);
  }
}

@keyframes marqueeRev {
  0% {  
    transform: translateX(-100vw); /* Start from off-screen on the right */
  }
  100% {
    transform: translateX(10vw); /* Move to off-screen on the left */
  }
}


/* SKILLS PAGE  */

.page5{
  height: auto;
  position: relative;
  width:100vw;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
}
.skills-cont{
  height: 80vh;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 10px;
  align-items: center;
}

.skills-cont .skill-image{
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-cont .skill-image img{
  height: 150px;
}









/* MOBILE VIEW  */
@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  nav{
    z-index: 1;
    position: relative;
    margin-left: 3vw;
  }
  .toggle-button {
    display: flex;
    position: absolute;
    margin-left: 80vw;
    
  }
  .nav-list{
    display: none;
  }
  .navbar-links ul  {
    color:var(--white);
  }
  .nav-list.ham {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    border-radius: 0px;
    background-color: var(--dark);
    height: 40vh;
    width:100vw;
    right: 0;
    top: 12vh; 
    padding: 10px;
  }
  .nav-list.ham a{
    height: 15%;
    font-size: 1rem;
    border-radius: 20px;
    width: 80%;
  }
  /* NAVBAR  */
  nav{
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
  }

  /* ANIMATED HEADING  */
.animated-heading , .experience-heading{
  background-color: var(--darkGrey);
  color: var(--lightGrey);
  height: 60vh;
  width: 100vw;
  margin-top: 3vh;
}
.animated-heading h1 ,.experience-heading h1{

  font-size: 50vh;
  text-transform: uppercase;
  font-weight: 800;
}

/* PAGE 1 */
  .page1{
    height: 85vh;

  }
  .page1 header{
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page1 header h1{
    width : 80%;
    font-size: 3rem;
    text-align: center;
    
  }
  /* PAGE2  */

  .page2{
    height: auto;
  }

  .page2-heading {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;

    height: auto;
  }

  .page2-heading div{
    width : 100%;
  }
  .page2-heading button{
    width : 100%;
  }
  .project-cont{
    display: flex;
    flex-direction: column;
  }

  .page2-heading:nth-last-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }

  .page2-heading:nth-last-child(1) .expertise-list{
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    list-style: none;
  }
  .page2-heading:nth-last-child(1) .expertise-list li{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid var(--white);
  }

  .page2-heading:nth-last-child(1) .expertise-list li,
  .page2-heading:nth-last-child(1) .expertise-list li p {
    text-align: center;
  }


/* MARQUEE  */
.marquee-cont{
  height: 20vh;
}
.marquee span {
  font-size: 3rem;

}

.page5 {
  margin-top: 0vh;
}
.skills-cont {
  display: grid;
  height: 60vh;
  width: 60vw ;
  grid-template-columns: repeat(2 , 1fr);
}

.skills-cont .skills-cont{
}
.skills-cont .skill-image img{
  height: 100px;
}
}